<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <ul>
      <li>ha, yoqdi : <%= liked %>%</li>
      <li>Qoniqarsiz : <%= disliked %>%</li>
    </ul>
    <h3>Message : <%= msg %></h3>
  </body>
</html>
