<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <style>
      li {
        list-style: none;
      }
    </style>
  </head>
  <body>
    <form action="/update" method="POST">
      <h2 style="border: 30%">Website sizga yoqdimi ?</h2>
      <ul>
        <li>
          <input type="radio" name="liked"  value="1"/><label for="like"
            >Ha, yoqdi
          </label>
        </li>
        <li>
          <input type="radio" name="disliked" value="0" /><label
            for="dislike"
            >Qoniqarsiz
          </label>
        </li>
        <button class="btn" type="submit">Yuborish</button>
      </ul>
    </form>
  </body>
</html>
